bin/
obj/
*.user
#ignore thumbnails created by windows
Thumbs.db
#ignore linux binary
StarCantata
#Ignore files built by compilers
*.o
*.d
*.a
*.dll
*.obj
*.exe
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.layout
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
dependencies/irrlicht/lib/
StarCantata.layout
StarCantata.pro.user.0ac6827
*.pro.user.*
#ignore the sublime text 2 files
.tags
*.sublime-*
StarCantata.sdf
StarCantata.opensdf
